.mapboxgl-popup-content {
    width: 484px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 24px;
}

.mapboxgl-popup-close-button {
    width: 18px;
    font-size: 1.5rem;
    inset-block-start: 4px;
    inset-inline-end: 10px;
    border-radius: 50%;
    background: #bebebe;
    outline: none;
    color: white;

}

.mapboxgl-popup-close-button:hover {
    color: white;
    background: gray;

}
.popup {
    width: 100%;
    display: block;
}
.card__body{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 225px;
    width: 100%;
}

.card__price {
    position: absolute;
    padding-inline: 14px;
    padding-block: 12px;
    background-color: #3347D2;
    color: #ffffff;
    inset-block-start: 20px;
    inset-inline-start: 20px;
    border-radius: 6px;
}

.card__info {
    position: absolute;
    color: black;
    inset-block-end: 12px;
    inset-inline-start: 20px;
    font-weight: 600;
    font-size: 2rem;
}

.card__img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

